<div class="menuHeader">
	<img src="img/menu_header.png" />
</div>

<div class="attractionHolder">
	<div class="sumHol">	
        <div class="summerAttraction lorax"></div> 
        <div class="summerAttractionHover loraxHover"><a href="#movie/0">Lorax</a></div>
        <div class="summerAttractionFooter" id="footfoot"></div>
    </div>
    <div class="sumHol">
        <div class="summerAttraction madagascar"></div> 
        <div class="summerAttractionHover madagascarHover"><a href="#movie/4">Madagascar</a></div>
        <div class="summerAttractionFooter"></div>
    </div>
    <div class="sumHol">
        <div class="summerAttraction iceage"></div> 
        <div class="summerAttractionHover iceageHover"><a href="#movie/3">Iceage</a></div>
        <div class="summerAttractionFooter"></div>
    </div>
    <div class="sumHol">
        
        <div class="summerAttraction transylvania"></div>
        <div class="summerAttractionHover transylvaniaHover"><a href="#movie/7">Transylvania</a></div>  
        <div class="summerAttractionFooter"></div>
    </div>
    <div class="sumHol">
        
        <div class="summerAttraction paranorman"></div> 
        <div class="summerAttractionHover paranormanHover"><a href="#movie/5">Paranorman</a></div> 
        <div class="summerAttractionFooter"></div>
    </div>
    <div class="sumHol">
        
        <div class="summerAttraction wimpykid"></div> 
        <div class="summerAttractionHover wimpykidHover"><a href="#movie/8">Wimpy Kid</a></div>
        <div class="summerAttractionFooter"></div>
    </div>
    <div class="sumHol">
        
        <div class="summerAttraction frankenweenie"></div> 
        <div class="summerAttractionHover frankenweenieHover"><a href="#movie/1">Frankenweenie</a></div>
    </div>
    <div class="sumHol">
        
        <div class="summerAttraction tinkerbell"></div> 
        <div class="summerAttractionHover tinkerBellHover"><a href="#movie/6">Tinkerbell</a></div>
        
    </div>
    <div class="sumHol">
        
        <div class="summerAttraction guardians"></div> 
        <div class="summerAttractionHover guardiansHover"><a href="#movie/2">Guardians</a></div>
        
    </div>
</div>

<a href="#morefamily" class="moreFamilyButton">More family favorites</a>